click==7.1.2
colorzero==2.0
Flask==1.1.2
future==0.18.2
gpiozero==1.6.2
iso8601==0.1.14
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.2
PyYAML==5.4.1
serial==0.0.97
Werkzeug==1.0.1
