html {
   background-color: black
}

h1 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
}

h2 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
}

select.items{
    background-color: DarkSlateGrey;
    font-size: 40px;
    color: yellow;
    text-align: left;
    width: 60%;
}

button {
   background-color: grey;
   font-size: 35px;
   color: yellow;
}

#searchbar {
    background-color: DarkSlateGrey;
    font-size: 40px;
    color: yellow;
    width: 60%;
    margin-bottom: 4px;
}