<!DOCTYPE html>
<html lang="en">
<head class='headder'>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title class='title'>WayPoint System</title>
</head>

<script type=text/javascript src="{{
  url_for('static', filename='js/add_item_handler.js') }}"></script>

<body>
<p>
   <label>Item Name:  </label>
   <input type="text" class="searchbar" id="itemName"><br><br>
   <label>Description: </label>
   <textarea type="text" class="searchbar" id="itemDescription"></textarea><br><br>
   <label>Use arrow keys to direct laser to target location.</label>
   <button onclick="add_item_click()">Save Item</button>
   <button><a href='/'>Back</a></button>
</p>

</html>
