<!DOCTYPE html>
<html lang="en">
<head class='headder'>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title class='title'>WayPoint System</title>
</head>
  
<body>
   <h1 id="h1">Welcome to the WayPoint Guidance System</h1>
   <p id="p1">
   <div>
      <input class="searchbar" id="searchbar" type="text" placeholder="Search">
      <button id="searchbutton" onclick="searchItem()">Search</button>
   </div>

   <div class="main">
   <select class='items' id="items" onChange="highlight();" border = 1 size=10>
      {% for key in result %}
         <option> {{key}} </option>
      {% endfor %}
   </select>
      <div class="sub">
         <p1 id=itemInfo></p1>
         <p2 id=itemPicture></p2>
      </div>
   </div>
   
   </p>
   <div class="buttons">
      <button> <a href="/add">Add Item</a></button>
      <button onclick='deleteIndex()'>Delete Selected Item</button>
      <button onclick='load_items_to_list()'>TEMP REF</button>
   </div>
</body>

<script type=text/javascript src="{{
  url_for('static', filename='js/index_handler.js') }}"></script>
  
</html>