<!DOCTYPE html>
<html lang="en">
<head class='headder'>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <title class='title'>WayPoint System</title>
</head>
<body>
   <h1 id="h1">Welcome to the WayPoint Guidance System</h1>
   <p id="p1">
   <div>
      <input id="searchbar" class="searchbar" type="text" placeholder="Search" onkeyup="searchItem()">
   </div>

   <div>
   <select class='items' id="items" onChange="highlight();" border = 1 size=10>
      {% for key in result %}
         <option> {{key}} </option>
      {% endfor %}
   </select>
   </div>
   
   </p>
   <p>
      <button> <a href="/add">Add Item</a></button>
      <button onclick='deleteIndex()'>Delete Selected Item</button>
      <button onclick='load_items_to_list()'>TEMP REFRESH</button>
   </p>
<script>
var current_item
var itemname, input, filter, listbox, txtValue
function searchItem() {
   input = document.getElementById("searchbar");
   filter = input.value.toUpperCase();
   listbox = document.getElementById("items");
   
   for (i = 0; i < listbox.length; i++) {
      txtValue = listbox[i].textContent || listbox[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
         listbox[i].style.display = "";
      } else {
         listbox[i].style.display= "none";
      }
    }
}
   
   

function highlight() {
   //window.alert("t")
   itemname = document.getElementById("items");
   var sent_info = { name: itemname[itemname.selectedIndex].innerHTML };
   fetch(`${window.origin}/selected_index`, {
		method:  "POST",
		credentials: "include",
		body: JSON.stringify(sent_info),
		cache: "no-cache",
		headers: new Headers({ "content-type": "application/json" })
   })
   .then(function (response) {
      response.json().then(function (data) {
         current_item = data;
         current_item['name'] = sent_info['name'];
         document.getElementById('h1').innerHTML = current_item['vertical'] + "/" + current_item['horizontal'];
      })
   })
}
function load_items_to_list() {
   fetch(`${window.origin}/get_all_items`, {
		method:  "GET",
		credentials: "include",
		cache: "no-cache",
		headers: new Headers({ "content-type": "application/json" })
   })
   .then(function (response) {
      response.json().then(function (data) {
         //console.log(data)
         select_box = document.getElementById('items')
         select_box.innerHTML = ''
         for (var i = 0; i < data[0].length; i++) {
            var option = document.createElement("option")
            option.innerHTML = data[0][i]
            select_box.appendChild(option)
         }
      })
   })
}
function deleteIndex() {
   itemname = document.getElementById("items");
   var sent_info = {name: itemname[itemname.selectedIndex].innerHTML}
   fetch(`${window.origin}/delete`, {
		method:  "POST",
		credentials: "include",
		body: JSON.stringify(sent_info),
		cache: "no-cache",
		headers: new Headers({ "content-type": "application/json" })
   })
   .then(function(response) {
       response.json().then(function (){})
   })
   console.log("Calling")
   load_items_to_list()
}


</script>
</body>
</html>